@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Love+Ya+Like+A+Sister');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.cdnfonts.com/css/kiddosy-free');
@import url('https://fonts.cdnfonts.com/css/twiggypop');
@import url('https://fonts.cdnfonts.com/css/baskerville');
@import url('https://fonts.cdnfonts.com/css/londrina-shadow');





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/**********************************************************************************************
**************************************    GENERALITES    **************************************
**********************************************************************************************/



* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  outline:none;
}

html {
  font-size: 62.5%;
}

body {
  margin:0;
  font-family: 'Baskerville', sans-serif;
  font-size:1.7rem;
  background-color:#fcfbf4;
}

footer {
  background-color : #AADCB8;
}

h1 {
  width:100%;
  background-color:#e56e8a;
  color: white;
  text-decoration: none;
  font-family: 'Italiana', serif;
  text-align:center;
  font-size:2.6rem;
  margin-bottom:2rem;
  padding: 2rem 0.5rem;
}

h2 {
  font-family: 'TwiggyPop', sans-serif;
  color: #AADCB8;
  text-decoration:underline;
  padding: 1rem 0.5rem;
  font-size:2.5rem;
  text-align:center;
}

.h2-perso {
  color:#6873f2;
  margin: 1rem 0 2rem 0;
}

h3 {
  font-family: 'TwiggyPop', sans-serif;
  margin:2rem 0 1rem 0;
  font-size:1.8rem;
}

ul{
  list-style:none;
  padding:0;
  margin:0;
}

a {
  text-decoration:none;
}

a:visited {
  color:#000000;
}

img {
    width: 100%;
}

.underline {
  text-decoration:underline;
}

.container {
  margin:auto;
}


/********************   DISPLAY FLEX   *********************
***********************************************************/

.flex{
  display: flex;
}

.justify-center {
  justify-content:center;
}

.align-center {
  align-items:center;
}

.direction-column {
  flex-direction:column
}


/*********************    BUTTON   *************************
***********************************************************/

button {
  background-color:white;
  margin:.4rem;
  font-family: 'italiana', sans-serif;
  font-size:1.3rem;
  border:1px solid grey;
  padding:5px;
  cursor:pointer;
  border-radius: 0 10px;
  font-weight:bold;
}

.center {
  text-align:center;
}



/*********************************************************************************************
**************************************    MAIN    ********************************************
*********************************************************************************************/




/*********************************************************************************************
**************************************    NAVBAR    ******************************************
*********************************************************************************************/


.navbar {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width:100%;
  background-color: #A7D5FF ;
  color: black;
  font-family: 'TwiggyPop', sans-serif;
}

.navbar__links {
  display: flex;
}

.navbar__link:hover {
    background-color:black;
    color:#f7c1b2;
    border-radius:0 10px;
}

.navbar__link {
  padding:0.5rem 1rem;
  color:inherit;
}

.navbar__burger {
  width:40px;
  height:40px;
  background:transparent;
  border:none;
  color:inherit;
}

.navbar__logo {
  position:relative;
  left:5.5rem;
  top:.5rem;
  width:40%;
}

.img-logo {
  width:40%;
}

.nav-img-cart {
  padding:.1rem;
  width:60%;
}

a.icons-navbar {
  width:30%;
}

.nav-img-profil {
  width:50%;
}

.navbar__icons{
  display:flex;
  justify-content:flex-end;
  width:25%;
}

.navbar-icons {
  display:flex;
  justify-content:center;
}


/************************* MEDIA QUERIES ****************************/

@media screen and (min-width: 768px) {
  .navbar-icons {
    width:25%;
  }
  
  .navbar__logo {
    width:35%;
  }
  
}


@media screen and (min-width: 960px) {
  .navbar-icons {
    width:40%;
  }
  
  .navbar {
    font-size:2rem;
    flex-wrap:nowrap;
  }
  
  .navbar-admin {
    margin-left:3rem;
  }
  
  .navbar__links {
    flex-wrap:wrap;
    width:100%;
  }
  
  .navbar__link {
    margin-left:1rem;
    font-size:2.2rem;
  }
  
  
  .navbar__link:hover {
    background-color:#1691fc;
    color:white;
    border-radius:0 10px;
  }

  .navbar__link {
    transition: transform 0.3s ease-in-out;
  }
}



@media screen and (max-width:768px) {
  .navbar__links {
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position:fixed;
    right:100vh;
    bottom:0;
    width:0;
    height:100vh;
    padding:2rem;
    background-color:#f7c1b2;
    visibility:hidden;
    transition: all .8s ease-out;
    z-index:10;
  }
  
  
  .navbar__link {
    display:block;
    padding:1rem;
    margin:.5rem;
    font-size:5vw;
  }
  
  .show-nav .navbar__links {
    right:0;
    width:100vw;
    visibility:visible;
  }
  
  /*bonus*/
  .navbar__item::after {
    content:"";
    display:block;
    margin: 0 auto;
    width:3vw;
    height:1px ;
    background:black;
  }
  
  .navbar__item:last-child::after {
    display:none;
  }
  
  .navbar__burger {
    display:block;
    position:absolute;
    top:.5rem;
    left:.5rem;
    z-index:11;
  }
  
  .navbar__burger:hover {
    cursor:pointer;
  }
  
  .burger-bar,
  .burger-bar::before,
  .burger-bar::after{
    display:block;
    width:3rem;
    height:.3rem;
    position:relative;
    border-radius:3px;
    background:black;
    transition: all .5s ease-in-out
  }
  
  .burger-bar::before,
  .burger-bar::after{
    content:"";
    position:absolute;
    left:0;
  }
  
  .burger-bar::before {
    transform: translateY(-12px);
  }
  
  .burger-bar::after {
    transform:translateY(12px);
  }
  
  .show-nav .burger-bar {
    width:0;
    background:transparent;
  }
  
  .show-nav .burger-bar::before {
    transform:rotate(45deg);
  }
  
  .show-nav .burger-bar::after {
    transform:rotate(-45deg);
  }

}



/*********************************************************************************************
**************************************    HOME   *********************************************
**********************************************************************************************/


.home__presentation {
  margin-bottom:3rem;
  padding-bottom:5rem;
  background-color:#AADCB8;
  border-radius: 0 0 50% 50%;
}

.home-presentation {
  display:flex;
  align-items:center;
  justify-content:center;
  width:90%;
  padding-top:1rem;
}

.home-presentation-logo {
  width:25%;
  margin:0 1rem 1rem 1rem;
}

.home-presentation-txt {
  flex-direction:column;
  width:80%;
  margin-left:5rem;
  font-size:1.8rem;
}


.presentation-txt {
  text-align:center;
  font-family: 'TwiggyPop', sans-serif;
  width: 74%
}

.home-presentation-peach {
  width:25%;
  position:absolute;
  right:1rem;
  top:9rem;
}

.fil-ariane {
  margin:5rem 0 1rem .5rem;
}

.child-img,
.dog-img {
  opacity:.6;
}

.txt-services {
  font-family: 'TwiggyPop', sans-serif;
  background-color: #e8e8f9;
  border-radius:20px 0;
  padding:2rem 4rem;
  margin: 2rem 0 4rem 0;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  font-size:1.8rem;
}

.txt-services ul {
  list-style-type: circle;
  line-height:2;
}

.home-txt-bottom {
  justify-content:center;
  margin:4rem 0 6rem 0;
}

.desktop-home {
  display:none;
}


/************************* MEDIA QUERIES ************************/


@media screen and (min-width: 768px) {
  
  .home-presentation-peach {
    top:11rem;
    width:20%;
  }
  
  .home-presentation-txt {
    margin-left:7rem;
    width:100%;
  }
  
}


@media screen and (min-width: 960px) {
  
  .home-presentation-peach {
    width:15%;
    right:7rem;
  }
  
  .home-presentation {
    width:60%;
  }
  
  .home-presentation-txt {
    width:70%;
  }
  
  .home__presentation {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:6rem;
  }
  
  .child-img {
    width:50%;
    margin:auto;
  }
  
  .desktop-home {
   display:block;
  }
  
  .home-presentation-logo {
    width:20%;
  }
}




/*********************************************************************************************
**************************************    CARD PRODUCT    ************************************
**********************************************************************************************/


.card__product {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top:3rem;
}

.card-top {
    display: flex;
    justify-content: center;
}

.card-bottom {
  width: 100%;
  padding: 40px;
}

.card-bottom p:first-child {
  font-size:1.8rem;
}

.card-product-img {
  width:50%;
  border-radius:10px;
}

.prix {
  font-family: 'Londrina Shadow', sans-serif;
  font-size:4.2rem;
  color:#7e73c4;
  font-weight:bold;
}

.btn-product-qte {
  width: 20px;
  height: 20px;
  border: none;
  margin: 0.5rem;
  padding:0;
  border-radius: 50%;
  background: #A7D5FF;
  color: black;
  cursor: pointer;
  font-weight:bold
}

.readmore {
  font-size: 16px;
  transition: transform 0.3s ease-in-out;
  padding: 1rem 2rem;
}

.readmore:hover {
  transform: scale(1.3);
}




/*********************************************************************************************
**************************************    PROFIL USER    ************************************
**********************************************************************************************/



/*****************    PROFIL INFOS    ****************
***********************************************************/

.profil-infos {
  margin-bottom:3rem;
  text-align:center;
  line-height:1.6;
}

.btn-logout {
  border-radius:20px;
  padding:5px;
  margin-left:1rem;
  padding:.5rem;
  background-color:#A7D5FF;
  color:black;
} 

.btn-logout:hover,
.btn-update:hover,
.btn-valid:hover {
  background:#AADCB8;
}

.icon-fatrash {
  padding-top:.5rem;
}

.btn-delete:hover {
  background:#f27171;
}

hr {
  width:50%;
  margin:auto;
  border: .5px solid #A7D5FF;
}


/*****************    PROFIL AVIS    **********************
***********************************************************/

.profil__avis {
  justify-content:space-around;
  margin:1rem 0 3rem 1rem;
}

.profil-avis p {
  margin-bottom:1rem;
}

.profil-avis {
  text-align:center;
  width:50%;
}



/*****************    PROFIL ABONNEMENT    ****************
***********************************************************/

.profil-abo {
  flex-direction: column;
  align-items:center;
  width:80%;
  margin:auto;
  text-align:center;
  line-height:1.5;
  margin-bottom:3rem;
  padding-bottom:2rem;
  border: 1px solid rgba(37,33,33,.2);

}

.profil-abo span {
  font-size:2.5rem;
}


.cart-img {
  width:60%;
  border-radius:10px;
}

/************************ MEDIA QUERIES ************************/

@media screen and (min-width: 1024px) {
   .cart-img {
     width:35%;
   }
   
   .profil-abo {
     width:50%;
   }
}




/*********************************************************************************************
**************************************    PROFIL ADMIN    ************************************
**********************************************************************************************/

.tableau_de_bord {
  text-align:center;
  margin-bottom:6rem;
}
.menu__gestion {
  justify-content:space-around;
  padding-bottom:5rem;
}

.menu-gestion {
  width:30%;
  margin-bottom:1rem;
  text-align:center;
  background-color:#dddddd;
  padding:.5rem;
  font-family: 'TwiggyPop', sans-serif;
  vertical-align: baseline;
  font-size:1.5rem;
}

/********************** MEDIA QUERIES ************************/


@media screen and (min-width: 1024px) {
   .stats-img {
     width:50%;
    }
    
    .menu__gestion {
      margin-top:2rem;
    }
}




/*********************************************************************************************
***********************************    ALL USERS ADMIN    ************************************
**********************************************************************************************/

.admin-users {
  margin:4rem;
}




/*********************************************************************************************
**********************************    MESSAGERIE ADMIN    ************************************
**********************************************************************************************/


.etat-0 {
  background-color:#f27171;
}

.etat-1 {
  background-color:#80ad82;
}

.desktop {
  display:none;
}


/************************ MEDIA QUERIES ************************/

@media screen and (min-width:768px) {
  

}
  
  @media screen and (min-width: 1024px) {
    .admin-msg {
        margin: 4rem 2rem 10rem 1rem;
    }
    
  .desktop {
    display:block;
  }
  
  .mobile {
    display:none;
  }
}





/*********************************************************************************************
***********************************    ALL PRODUCT ADMIN    **********************************
**********************************************************************************************/

.table-all-product {
  margin-top:4rem;
  width:100%;
}

.table-all-product {
  border:1.5px solid grey;
}

.table-all-product td,
.table-all-product th,
.table-all-product tr{
  border:0.5px solid grey;
}

.table-all-product tbody tr td:first-child,
.table-all-product thead tr th:first-child {
  font-size:2.5rem;
  font-weight:bold;
  font-family: 'Londrina Shadow', cursive;
}

.table-all-product tr:hover td,
.table-all-product tr:hover th {
  background:#9195ba;
  color:#FFFFFF;
}

.all-products-admin {
  margin-bottom:6rem;
}

.all-products-infos {
  line-height:1.5;
}

.all-product-btn {
  display:flex;
  flex-direction:column;
  margin-left:2rem;
}

.all-product-img {
  width:50%;
  border-radius:10px;
  margin:2rem;
}

.h2-perso-2 {
  text-align:left;
  margin-top:2rem
}


/********************** MEDIA QUERIES ************************/


@media screen and (min-width: 768px) {
  .table-all-product {
    width:70%;
  }
  
}



/*********************************************************************************************
**************************************    TABLEAUX    ****************************************
**********************************************************************************************/

table {
  margin:auto;
  margin-bottom:7rem;
  border-collapse:collapse;
}

tr, td, th {
  text-align:center;
  border:1px solid black;
  padding:.5rem;
}

td {
  padding:.5rem;
}

.btn-array {
  border:none;
  padding:0;
  margin:0;
}

.fatrash {
  color:red;
}




/*********************************************************************************************
***************************************    FORM    *******************************************
**********************************************************************************************/

form {
  margin:1rem 1rem 6rem 1rem;
  width:95%;
}

.fields {
  display:flex;
  padding:.5rem;
}

fieldset {
  margin:2rem 0;
  border-width:1px;
  padding-bottom:2rem;
  padding-right:1rem;
}

legend {
    padding:0 1em;
    font-family: 'TwiggyPop', sans-serif;
    font-size:2.4rem;
    margin-bottom:1rem;
    color:#a7d5ff;
    text-shadow: 1px 1px 1px black;
}

label {
    Padding: 1rem;
    width:30%;
}

.input-size{
  width:50%;
  margin-bottom:.5rem;
  border-radius:10px;
  border: 1px solid grey;
  text-align:center;
}

textarea {
    width:75%;
    height:8em;
    margin:.5rem;
    border-radius:10px;
    border: 1px solid grey;
    text-align:center;
}

.btn-input {
  display:flex;
  justify-content:center
}

/************************* MEDIA QUERIES **************************/


@media screen and (min-width: 1024px) {
  
  .all-product-img {
    width:30%;
  }
  
  textarea {
    width:50%;
  }
  
  .input-size {
    width:40%;
  }
  
  fieldset {
    width:70%;
    margin:auto;
  }
 
}




/*********************************************************************************************
***************************************    ALL AVIS    ***************************************
**********************************************************************************************/

.all-avis .avis:last-child {
  margin-bottom:6rem;
}

.avis {
  margin:.5rem;
}


.strong-font {
  color:#636363;
  font-size: 1.8rem;
  margin: 0 .5rem;
}

.img-star {
  width:3%;
}



/*********************************************************************************************
***********************************    PRODUCT DETAILS    ************************************
**********************************************************************************************/


.bee-img {
  position:absolute;
  width:30%;
  right:-1rem;
  top:34rem;
  opacity:.8;
}

.child-img {
  width:100%;
}

.product__title {
  width: 100%;
  background-color: #FEEB84;
  margin-top:2rem;

}

.product-title {
  width:70%;
  color: #515151;
  text-decoration: none;
  font-family: 'Italiana', serif;
  text-align:center;
  font-size:2.6rem;
  margin: 1rem 0 1rem 2rem;
}

.product-details {
  background-color: #DBEEFF;
}

.txt__accroche {
  margin:2rem 0;
}

.txt-accroche {
  width:80%;
  text-align: center;
  margin: 1rem 0;
  font-size:1.7rem;
  font-family: 'TwiggyPop', sans-serif;
}


.product-details-cover {
  width:70%;
  margin: 3rem 0 1rem 0;
}


/********************* MEDIA QUERIES **********************/

@media screen and (min-width:768px) {
  
  .bee-img {
    top:45rem;
    width:25%;
  }
  
}
  
@media screen and (min-width: 1024px) {
  .bee-img {
    top:35rem;
    right:5rem;
    width:18%;
  }
  
  .product-title {
    width:100%;
    font-size:3rem;
  }
  
  .product-details-cover {
    width:40%;
    margin:4rem;
  }
  
  .img-star {
    width:2%;
  }
  
  .child-img {
    width:50%;
  }
}

/*****************    AVIS PRO    ****************
*************************************************/

.avis__pro {
  display:flex;
  position:relative;
}

.pro-img {
  opacity:.6;
  border-radius:50%;
  width:60%;
}

.ellipse-pro {
  position:absolute;
  width:90%;
  margin-top:4rem;
}

.txt-avis-pro {
  position:relative;
  z-index:2;
  top:0;
  text-align:center;
  line-height:2.7;
  width:88%;
}

.pro-name{
  margin:2rem 0;
  font-size: 1.7rem;
  text-decoration: underline;
}

.pro-name span {
  font-family: 'Kiddosy Free', sans-serif;
}

.avis-pro {
  margin-bottom:8rem;
}


/**************** MEDIA QUERIES *********************/

@media screen and (min-width:768px) {
  
  .pro-img {
    width: 40%;
  }
  
  .ellipse-pro {
    width:60%;
    margin-top:0;
  }
  
  .txt-avis-pro {
    top:3rem;
    width:80%;
  }
  
}
  
@media screen and (min-width: 1024px) {
  
  .ellipse-pro {
    width:40%;
  }
  
  .txt-avis-pro {
    top:3rem;
    width:50%;
    top:2rem;
    margin-bottom:2rem;
    font-size:1.6rem;
  }
  
  .pro-name {
    font-size:2.5rem;
  }
  
}


/*****************   ABONNEMENT   ****************
**************************************************/

.abonnement {
  padding-bottom:3rem;
}

.table-abonnement {
  border:0px;
  margin:auto;
  background-color: #FFFBFB;
}

.table-abonnement thead {
  background-color:#F05A5A;
  color:#ffffff;
  font-size:1.7rem
}

.abo-img {
  width:50%;
  margin:1rem 0;
}


/*********************************************************************************************
**************************************    CONTACT US    **************************************
**********************************************************************************************/

.contact-address {
  display:flex;
  flex-direction:column;
  margin:auto;
  border: 1px solid rgba(37,33,33,.125);
  width:70%;
  padding:2rem;
  line-height:1.8;
}

.contact-address-items svg {
  margin-left:1rem;
  margin-right:1rem;
  color:#e56e8a;
  font-size:1.7;
}

.contact-title {
  width:100%;
  background-color:#e56e8a;
  color: white;
  text-decoration: none;
  font-family: 'Italiana', serif;
  text-align:center;
  font-size:2.6rem;
  margin-bottom:2rem;
}

/******************* MEDIA QUERIES ******************/

@media screen and (min-width: 1024px) {
  
  .contact-address {
    width:30%;
  }
 
}


/*********************************************************************************************
**************************************    CART    ********************************************
**********************************************************************************************/

.cart {
  margin-left:1rem;
  margin-bottom:2rem;
  width:70%;
  border: 1px solid rgba(37,33,33,.2);
  text-align:center;
  padding:1.5rem;
}

.cart p {
  font-size:1.8rem;
  margin:1rem 1rem 1rem 0;
}

.cart-cover {
  width:80%;
}

.cart .cart-prix {
  font-size:3rem;
}

.order-success button {
  margin-top:2rem;
}

/****************** MEDIA QUERIES *******************/

@media screen and (min-width: 768px) {
  
  .cart-cover {
    width:30%;
  }
 
}

@media screen and (min-width: 1024px) {
  
  .cart {
    width:50%;
  }

}


/*********************************************************************************************
**************************************    LOGIN    *******************************************
**********************************************************************************************/

.error-txt {
  border: 1px solid rgba(37,33,33,.125);
  margin:auto;
  margin-top:2rem;
  margin-bottom:6rem;
  text-align:center;
  width:60%;
  padding:4rem;
  line-height:1.5;
}



/*********************************************************************************************
**********************************    MENTIONS LEGALES    ************************************
**********************************************************************************************/

.mentions-legales {
  margin-bottom: 6rem;
  margin-left:1rem;
}



/*********************************************************************************************
**************************************    FOOTER    ******************************************
**********************************************************************************************/

footer {
  position:relative;
  display:flex;
  flex-direction:column;
  padding-left:4rem;
}

.footer > hr {
  border: 0.5px solid #7197E0;
}

.footer-apple {
  position: relative;
}

.apple-footer {
  width:25%;
  position:absolute;
  right:1rem;
  top:-4rem;
}

.footer__icons {
  width:67%;
}

.footer__icons,
.footer__nav {
  margin:2rem;
}

.footer-icons {
  display:flex;
  justify-content:center;
}

.footer-icons svg {
  font-size:2.5rem;
  margin:1rem;
}

.facebook-svg {
  color:#395498;
}

.twitter-svg {
  color: #1C96E9;
}

.insta-svg {
  color: #CF3180;
}

.youtube-svg {
 color: #F70100; 
}

.footer-nav {
  display:flex;
  flex-direction:column;
  margin-left:15rem;
}

a {
  color:black;
}

/******************* MEDIA QUERIES ********************/

@media screen and (min-width: 768px) {
  
  .apple-footer {
    width:20%;
  }
  
  .footer-nav {
    margin-left:18rem;
  }
}

@media screen and (min-width: 960px) {
  
  .apple-footer {
    top:-8rem;
    width:15%;
    right:5rem;
  }
  
  .footer {
    flex-direction: row;
  }
  
  .footer > hr {
    display:none;
  }
  
  .footer__icons {
    width:30%;
  }
  
  .footer-icons {
    justify-content:flex-start;
  }
  
  .footer-nav {
    margin-left:10rem;
  }

}
