.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/************************************************************************************************ 
**************************************GENERALITIES **********************************************
*************************************************************************************************/
* {
  box-sizing:border-box;
  margin:0;
  padding:0;
  outline:none;
}

body {
  margin:0;
}

footer {
  background-color : #AADCB8;
}

table, tr, td {
  text-align:center;
  border:1px solid black;
}

h2 {
  color: #AADCB8;
  text-decoration:underline;
}

.navbar {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding:1rem;
  width:100%;
  min-height:75px;
  background-color: #A7D5FF ;
  color: #AADCB8;
}

.navbar__links {
  display: flex;
}

.navbar__link {
  padding:0 0.3rem;
}

.navbar__burger {
  width:40px;
  height:40px;
  background:transparent;
  border:none;
  color:inherit;
}

ul{
  list-style:none;
  padding:0;
  margin:0;
}

a {
  text-decoration:none;
}